.object {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
}

.couponDescription {
  font-weight: 400;
  opacity: 0.9;
}

.couponExpiry {
  font-size: 1rem;
  opacity: 0.7;
}

.couponDetails {
  font-size: 1rem;
}

.sidebarWrapper {
  min-height: 100%;
}

.popupBtn {
  cursor: pointer;
}

.popupText {
  cursor: initial;
  display: none;

  background-color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 1;

  top: 25px;

  animation: fadeOut 0.3s;
}

.show {
  display: block;
  max-width: 100%;

  animation: fadeIn 0.3s;
}

.hover-button:hover {
  opacity: 0.8;
}

.hover-image:hover {
  border: 1px solid var(--color-primary) !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .popupText {
    position: inherit;
  }
}
