footer {
  background: var(--color-footer);
  width: 100%;
}

.sticky-footer {
  position: sticky;
  top: 100%;
}

@media screen and (min-width: 576px) {
  footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }
}
