:root {
  --color-primary: #ffb600;
  --color-primary-dark: #ff8b00;
  --color-footer: #5b2614;
  --color-nav: #cf7d34;
  --color-logo: #eaa842;
  --color-experiment: #1c97c8;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: none;
  position: relative;
  background: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
#root {
  min-height: 100vh;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:visited {
  color: inherit;
}

.icon-white {
  color: #fff;
}

.bg-color-experiment {
  background: var(--color-experiment);
}

.text-color-experiment {
  color: var(--color-experiment);
}

.bg-primary-custom {
  background: var(--color-primary) !important;
}

.bg-nav-custom {
  background: var(--color-nav);
}

.bg-secondary-custom {
  background: rgba(128, 128, 128, 0.2);
}

.bg-transparent-custom {
  background: rgba(0, 0, 0, 0.7);
}

.text-primary-custom {
  color: var(--color-primary);
}

.text-nav-custom {
  color: var(--color-nav);
}

.text-secondary-custom {
  color: var(--color-primary-dark);
}

.padding-inline-long {
  padding-inline: 2rem;
}

.bottom-15 {
  bottom: 15%;
}

.btn-active-primary {
  background: var(--color-primary) !important;
  color: #fff;
}

.shadow-tb {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-custom {
  text-decoration: none;
  text-align: center;
  border: 1px solid #ccc;
  vertical-align: center;
  padding: 0.5rem 1rem;
  background: #fff;
}

.active-custom {
  color: var(--color-primary-dark);
  font-weight: bolder;
}
